@import url(./sidebar.css);
@import url(./footer.css);

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 3000px;
}

/* Navbar */

.navbar.navbar-inverse.navbar-fixed-top {
    position: sticky;
}

.navbar {
    height: 120px;
    margin-bottom: 0;
}

.navbar {
    background-image: url('/assets/image/logo-background.png');
}

/* .navbar .container{
    position: relative;
}
.navbar-form{
    position: absolute;
    width: 100%;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
} */
.navbar-form {
    position: relative;
    top: 25px;
    left: 15%;
    transform: translateX(-15%);
}

.form-group input[type=text] {
    width: 280px;
}

.header-main {
    background: rgb(245, 171, 93);
    background: linear-gradient(0deg, rgba(245, 171, 93, 1) 6%, rgba(241, 124, 0, 1) 36%);
    color: #ffffff;
}

.header-main .container p,
.header-main .container img {
    padding-top: 10px;
}

.header-main .container div {
    border-right: 1px solid #d76f00;
}

.header-main .container div:last-of-type {
    border-right: none;
}

/* Content */
.breadcrumb {
    background-color: transparent;
    border-bottom: 1px solid #dedede;
}

.media-body__first {
    position: relative;
    padding: 40px 0 20px 0;
}

.media-body__first p {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.content-header__space-bar {
    margin-bottom: 20px;
}

.content .image {
    height: 100%;
}

.content .image img {
    float: left;
    width: 50%;
    max-height: 100%;
    margin: 0 20px 0 0;
    margin-bottom: calc(100% * 0.04);
}

.content__main-text ul,
.content__main-text ol {
    margin-left: 30px;
}

.content__question,
.content__important,
.content__example {
    padding: 20px 20px 20px 20px;
    margin: 20px 0 20px 0;
}

.content__question h4 {
    color: #4161a3;
}

.content__important {
    background-color: #fffcf7;
}

.content__important h4 {
    color: #f79700;
}

.content__example {
    background-color: #f0f8fd;
}

.content__example h4 {
    color: #f79700;
}

.main-sidebar__newslatter label {
    font-size: 10px;
}

.content__example-space-bar {
    margin: 20px 0 20px 0;
    padding: 20px 40px 20px 40px;
    border: 3px solid #e5e5e5;
    background-color: #f7f8fb;
}

.content__text {
    clear: both;
}

.content__space-bar-bottom {
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dedede;
}

.content__btn-group {
    margin: 30px 0 20px 0;
}

.content__btn-group button {
    margin: 5px;
}

.content__similar-article-first,
.content__similar-article-second,
.content__similar-article-third {
    margin-top: 20px;
    border-bottom: 1px solid #e5e5e5;
}

.similar-article-autor {
    color: #8c8c8c;
}

.main {
    margin-bottom: 50px;
}

/* Utilities */
.underline {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid #555;
}

.image-utilities {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.border-utilities {
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
}

.links-underline {
    height: 1px;
    width: 100%;
    background-color: #ededed;
}

.links-underline-dark {
    height: 1px;
    width: 100%;
    background-color: #3e4567;
}

.links-accent {
    color: #ff7109;
}

.text-accent {
    font-weight: 700;
    color: #ff7109;
}

.text-bold {
    font-weight: 700;
}

.login,
.get-acces {
    border: none;
    border-radius: 0px;
    color: #ffffff;
}

.login {
    background-color: #adadad;
}

.get-acces {
    background-color: #ff7d1e;
}